nav{
    font-size: xx-large;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color:lawngreen;
    background-color: black;
}
footer{
    background-color: purple;
    color:white;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
col{
    background-color: white;
    color:darkgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
h2{
    color:aqua;
}
.accordion-body{
    background-color:black;
    color:lawngreen;
}
.accordion-button{
    background-color: aqua;
    color:black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}